{% extends 'base.html.twig' %}

{% block title %}
    Update
{% endblock %}

{% block body %}

    <h1>
       Update Article!
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}