{% extends 'base.html.twig' %}  

{% block title %} Symposts articles {% endblock %}

{% block body %}

{% if articles %}
<table class="table table-striped">
    <tr>
        <thead>
            <th>Article Title</th>
            <th>Actions</th>
        </thead>
    </tr>
    <tbody>
{% for article in articles %}

          <tr>
            <td>{{ article.title }}</td>
<td>
    <a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
    <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
</td>

          </tr>  

        {% endfor %}
    </tbody>

</table>

 {%  else  %}

<p> No articles yet! </p>
 {% endif %}

{% endblock %}